/* import montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eee;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: min(500px, 90%);
    padding: 30px 0px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.411);
    border-radius: 5px;
    margin: 10px;
}

.mainContainer h1{
    font-family: "Montserrat", serif;
    font-weight: 700;
    margin-bottom: 25px;
}

/* cutomizing fileInfoContainer.
containing the file name text input and no of choices drop down */
.fileInfoContainer{
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}
.fileInfoContainer input[type="text"]{
    width: min(300px, 100%);
    cursor: text;
    margin: 10px 10px 0px 10px;
}
.fileInfoContainer input[type="text"]:focus{
    cursor: text;
}
.fileInfoContainer input[type="text"]::placeholder{
    color: rgb(148, 148, 148);
}
.fileInfoContainer input[type="text"]:hover::placeholder
{
    color: black;
}
.fileInfoContainer select{
    cursor: pointer;
    margin: 10px 10px 0px 10px;
}
.fileInfoContainer option{
    font-weight: 550;
}
.fileInfoContainer select,
.fileInfoContainer input[type="text"]
{
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid black;
    padding: 8px 5px;
    background:none;
    outline: none;
    cursor: pointer;
}

/* customizing the error message paragrapgh tag*/
.mainContainer p{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 0.9rem;
    color:red;
    text-align: center;
    margin-bottom:5px;
}
/* customizing create file button */
.mainContainer button{
    align-items: center;
    appearance: none;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    transition: 0.5s;
    border: 0;
    outline: none;
    border-radius: 50px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
    width: 90%;
}
.mainContainer button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transform: translateY(-3px);
    background-position: right center;
}
.mainContainer button:active{
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transform: translateY(3px);
}

