/* import montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  import open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}
hr{
    border: 1px solid black;
    margin: 10px 0;
}
/* customizing top section.*/
.topContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 30px;
    height: fit-content;
}
.fileNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    gap: 4px;
}
.errMsg{
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 0.8rem;
    color:red;
    text-align: left;
    padding-left: 5px;
}
.inputFileName{
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid black;
    padding: 5px;
    width: 250px;
    background:none;
    outline: none;
    cursor: text;
    color: black;
    align-self: center;
}
.inputFileName::placeholder{
    color: rgb(148, 148, 148);
}
.inputFileName:hover::placeholder{
    color: black;
}
.topContainer button.btn { 
    padding: 15px 20px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border-radius: 50%;
    border:none;
    color: black;
    transition: 0.5s;
    width: 50px; 
    height: 50px;
}
.topContainer button.btn:hover{
    background-color: gold;
    background-position: right center;
}

@media (width<=550px){
    .topContainer{
        justify-content: center;
    }
}
@media (width<=440px){
    .inputFileName{
        width: 100%;
    }
    .errMsg{
        padding-left: 0;
    }
}
/* customizing latyout menu */
.layoutBtnContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.layoutBtnContainer button,
.layoutBtnContainer select{
    padding: 4px 8px;
    cursor: pointer;
    outline: none;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border:2px solid black;
    color: black;
    background: hsl(0, 0%, 96%);
    transition: 0.25s;
    height: 35px;
    border-radius: 5px;
}
.layoutBtnContainer select option{
    font-weight: 550;
}
.layoutBtnContainer button:hover,
.layoutBtnContainer select:hover{
    border-color: gold;
}
/* customizing elements in main section */
.mainContainer{
    width: 95%;
    border: 2px solid black;
    padding: 3px;
    display: none;
}
.mainContainer table{
    padding: 5px;
    border: 2px solid white; 
}
.mainContainer table:hover{
    border: 2px solid orange; 

}
.mainContainer table td p{
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 3px 2px;
    cursor: pointer;
}
.mainContainer table td p:focus{
    cursor: text;
}
.mainContainer .draggable{
    cursor: pointer;
}
.mainContainer .draggable.dragging{
    opacity: 0.5;
    border: 2px solid red; 
}

/* customizing sub container */
.subContainer{
    display: flex;
    width: 90%;
    height: 78vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    animation: borderAnimation 4s infinite;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
}
@keyframes borderAnimation {
    0% {
      border-color: #d93f87;
    }
    25% {
      border-color: #352154;
    }
    50% {
      border-color: #68d8d8;
    }
    75% {
      border-color: #7652af;
    }
    100% {
        border-color: #d93f87;
    }
  }
.subContainer i{
    font-size: 3rem;
    margin: 3px;
    color: lightslategray
}
.subContainer h1{
    margin: 3px;
    font-size: 2.25vh;
    color: lightslategray;
}