/* import montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  import open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}
hr{
    border: 1px solid black;
    margin: 10px 0;
}
/* customizing top section.
contain file name input and export button */
.sectionTop{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 30px;
}
.sectionTop p{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 0.9rem;
    color:red;
    text-align: center;
}
.sectionTop input[type="text"]{
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid black;
    padding: 8px 5px;
    width: 250px;
    background:none;
    outline: none;
    cursor: text;
    color: black;
    align-self: center;
}
.sectionTop input[type="text"]::placeholder{
    color: rgb(148, 148, 148);
}
.sectionTop input[type="text"]:hover::placeholder{
    color: black;
}
.sectionTop button.btn { 
    padding: 15px 20px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border-radius: 50%;
    border:none;
    color: black;
    /* background-size: 200% auto;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    */
    transition: 0.5s;
    width: 50px; 
    height: 50px;
}
.sectionTop button.btn:hover{
    background-color: gold;
    background-position: right center;
}

@media (width<=550px){
    .sectionTop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (width<=440px){
    .sectionTop input[type="text"]{
        width: 100%;
    }
}
/* customizing latyout menu */
.sectionlayoutBtn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.sectionlayoutBtn button{
    padding: 5px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
    border:none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    background: none;
    transition: 0.25s;
    width: 100px;
}
.sectionlayoutBtn button:hover{
    color:darkorange;
}
/* customizing elements in main section */
.sectionMain{
    width: 96%;
    border: 2px solid black;
    padding: 3px;
    display: none;
}
.sectionMain table{
    padding: 5px;
    border: 2px solid white; 
}
.sectionMain table:hover{
    border: 2px solid orange; 

}
.sectionMain table td p{
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 3px 2px;
    cursor: pointer;
}
.sectionMain table td p:focus{
    cursor: text;
}
.sectionMain .draggable{
    cursor: pointer;
}
.sectionMain .draggable.dragging{
    opacity: 0.5;
    border: 2px solid red; 
}
/* customizing sub container */
#subContainer{
    display: flex;
    width: 90%;
    height: 78vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    animation: borderAnimation 4s infinite;
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-size: 1rem;
}
@keyframes borderAnimation {
    0% {
      border-color: #d93f87;
    }
    25% {
      border-color: #352154;
    }
    50% {
      border-color: #68d8d8;
    }
    75% {
      border-color: #7652af;
    }
    100% {
        border-color: #d93f87;
    }
  }
#subContainer i{
    font-size: 3rem;
    margin: 3px;
    color: lightslategray
}
#subContainer h1{
    margin: 3px;
    font-size: 2.25vh;
    color: lightslategray;
}